#form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;

  .error {
    visibility: hidden;
    font-size: x-small;
    color: red;
    margin-left: 2rem;
  }

  .invalid .error {
    visibility: visible;
  }
  .invalid input {
    border-color: red;
  }

  :is(label) {
    display: block;
    margin-bottom: 0.5rem;
  }

  :is(label) .text-input {
    margin-left: 1rem;
    display: block;
  }

  :is(fieldset) {
    margin-bottom: 1rem;
    border-color: canvas;
  }
  .wide {
    width: 90%;
  }
}
