.posts-list {
  font-size: 14px;
  cursor: pointer;
}

.posts-list details ul {
  margin-top: 3px;
}
.posts-list details > details {
  margin-left: 1rem;
}

.posts-list details p {
  margin-block-start: 3px;
  margin-block-end: 3px;
  margin-left: 1rem;
}
